@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}

.form-group{
    margin: 10px;
    vertical-align: top;
}
label{
    vertical-align: top;
}

.closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

.navigation > li {
    border-right-width: 1px;
    border-left-width: 1px;
}
.navigation > li:first-child {
    border-left: none;
}
.navigation > li:last-child {
    border-right: none;
}

.markdown-content p {
    margin-bottom: 1.5rem;
}
.markdown-content ul {
    list-style-type: circle;
    list-style-position: inside;
}
.markdown-content a {
    color: #3490dc;
    text-decoration: underline;
}
.markdown-content:not(.no-block) p > strong {
    display: block
}

.carousel-item.active {
    animation: fadeIn 2s ease-out;
    animation-fill-mode: forwards
}
.carousel-item.hide {
    animation: fadeOut 2s ease-out;
    animation-fill-mode: forwards
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
        display: block;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

[x-cloak] {
    display: none;
}

.fit-content {
    width: fit-content;
}

