@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import '/node_modules/@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}

.form-group{
    margin: 10px;
    vertical-align: top;
}
label{
    vertical-align: top;
}

.closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

.navigation > li {
    border-right-width: 1px;
    border-left-width: 1px;
}
.navigation > li:first-child {
    border-left: none;
}
.navigation > li:last-child {
    border-right: none;
}

.markdown-content p {
    margin-bottom: 1.5rem;
}
.markdown-content a {
    color: #3490dc;
    text-decoration: underline;
}
.markdown-content p > strong {
    display: block
}


.fit-content {
    width: fit-content;
}

